<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xmlns:context="http://www.springframework.org/schema/context"
	     xsi:schemaLocation="
	     http://www.springframework.org/schema/beans
	      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
            http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	 <!-- 当前Spring支持注解 -->
	 <context:annotation-config/>
	 <!-- 设置当前项目的根包 -->
	 <context:component-scan base-package="com.jv" />
	 <context:property-placeholder location="classpath:config/property/jdbc.properties" /> 
	<!-- 配置数据源 -->
	<!--  <bean id="MySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/dp?useUnicode=true&amp;characterEncoding=utf-8">
		</property>
		
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>-->
	<bean id="MySqlDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${hibernate.driverClassName}"></property>
		<property name="url" value="${hibernate.url}"></property>
		<property name="username" value="${hibernate.username}"></property>
		<property name="password" value="${hibernate.password}"></property>
	</bean>
	<!-- 配置数据源结束 -->
	
	<!-- 配置session工厂 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="MySqlDataSource" />
		</property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
		
		<property name="packagesToScan">
			<list>
				<!-- 用于试验的实体类 -->
				<value>com.jv.dp.entity</value>
			</list>
		</property>
	</bean>
	<!-- 事务管理配置  -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">  
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>  
	</bean>
</beans>